<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.code.ordercenterconfig.mapper.OrderMapper">
    <insert id="createOrder">
        insert into t_order(product_name, order_num)
        values (#{name}, #{number})
    </insert>
</mapper>